faster-whisper
sounddevice
numpy
groq
pyperclip
pyautogui
pynput
pywin32
psutil
pyinstaller
scipy
tokenizers
huggingface-hub
ctranslate2
google-api-python-client
google-auth
google-auth-oauthlib
pillow
websocket-client
